# These files are text and should be normalized (convert crlf -> lf)
* 				text=auto eol=lf
*.java			text
*.xml			text
*.properties	text
*.sql			text
*.yml			text
*.xsd			text

# Bash shell scripts that should always be lf
*.sh			text eol=lf

# Windows shell scripts that should not be normailized
*.bat			text eol=crlf
